.dplayer-showing{
  display: block;
  position: absolute;
  z-index: 1001;
  float: right;
  height: 70px;
  width: 66px;
  bottom: 36px;
  right: 5%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  img {
      max-width: 100%;
      max-height: 100%;
      background: none;
  }
}